@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a:visited {
  color: inherit;
}
#navigation-bar {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  color: #646464 !important;
  a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
  }
  button {
    border: none;
    background: #00a2fa;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
  }
  .active {
    color: black;
  }
  a:hover {
    color: black;
    filter: drop-shadow(0 0 10px rgb(17, 1, 230));
  }
}
.bookafind-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1,
  p {
    margin: unset;
    font-family: "Poppins";
    font-style: normal;
  }
  p {
    color: rgba(0, 0, 0, 0.65);
  }
}
.rounded-image {
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  height: 350px;
  img {
    border-radius: 90px 90px 0px 0px;
    width: 100%;
    object-fit: cover;
  }
}
.bookafind-quote {
  background: #ffffff;
  padding: 50px;
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 50px 50px;
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1,
  p {
    margin: unset;
    font-family: "Poppins";
    font-style: normal;
  }
  p {
    color: rgba(0, 0, 0, 0.65);
  }
  h1 {
    width: 60%;
  }
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1000;
  min-width: 300px;
  border-radius: 5px;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.25rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.search input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px 8px;
  width: 75px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  // float: right;
}
.search input:focus {
  width: 200px;
}
.loading-container {
  position: relative;
  padding: 1px;
  height: 5px;
  background: #b6e2fa;
}
.loading-infinite {
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  background: #003755;
  width: 0;
  animation: moving 2s linear infinite;
}
@keyframes moving {
  0% {
    left: 0%;
    right: 100%;
    width: 0%;
  }
  10% {
    left: 0%;
    right: 75%;
    width: 25%;
  }
  90% {
    right: 0%;
    left: 75%;
    width: 25%;
  }
  100% {
    left: 100%;
    right: 0%;
    width: 0%;
  }
}
.search-results {
  max-height: 400px;
  overflow: auto;
}
.book-cards {
  display: flex;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: #e4e4e4;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 10px 10px 21px -10px rgb(0 0 0 / 62%);
  .book-cover {
    height: 150px;
    margin-right: 15px;
    box-shadow: 10px 10px 21px -10px rgb(0 0 0 / 62%);
    border-radius: 5px;
    padding: 5px;
    img {
      height: 100%;
      width: 150px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
  .book-information {
    // box-shadow: 10px 10px 21px -10px rgb(0 0 0 / 62%);
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    h3,
    p {
      margin: unset;
    }
  }
}
.bookmarks-page {
  padding: 0 40px;
  transition: 0.5s;
}
.bookcards-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
}
.bookmark-button,
.remove-button {
  button {
    box-shadow: 10px 10px 21px -10px rgb(0 0 0 / 62%);
    margin-top: 15px;
    border: none;
    background-color: #fcfd64;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: "Karla";
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
  }
  button:hover {
    background-color: #7c7c00;
    color: white;
  }
}
.remove-button {
  button {
    background-color: #f54747 !important;
  }
  button:hover {
    background-color: #630505 !important;
    color: white;
  }
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
